.compras{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    flex-direction: column;
    justify-content: space-around;
}

.compras img{
    height: 300px;
    width: 250px;
    align-self: center;
}