.header {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    height: 150px;
    padding: 0%;
    flex: auto;
    text-align: center;
    background-color: black;
}

.sectionheader {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 20px;

}

.logo img {
    height: 100px;
    width: 200px;
    align-self: center;
}

a {
    color: rgb(106, 83, 6);
    justify-content: space-around;
}


.bodyhome {
    background-image: url(..//img/background.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 300%;
    text-align: center;
    font-weight: 700;
    padding-top: 40px;
    border-top: 8px solid rgb(56, 41, 2);
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
    text-align: center;
    padding-bottom: 40px;
    font-weight: 300;
    border-bottom: 8px solid rgb(56, 41, 2);
}

.contenedorflexhome {
    align-items: center;
    flex: auto;
    flex-wrap: wrap;
    align-self: center;
}

.ropamujerhome {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    flex-direction: row;
    justify-content: space-around;

}

.ropamujerhome img {
    height: 300px;
    width: 250px;
    align-self: center;

}
.ropamujerhome div {
    width: 30%;
    align-items: center;
    }

.ropahombrehome {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    flex-direction: row;
    justify-content: space-around;

}

.ropahombrehome img {
    height: 300px;
    width: 250px;
    align-self: center;

}
.ropahombrehome div {
    width: 20%;
    align-items: center;
    }

.tituloropamujer {
    align-self: center;
}

.accesorioshome {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    flex-direction: row;
    justify-content: space-around;
}

.accesorioshome img {
    height: 300px;
    width: 250px;
    align-self: center;

}
.accesorioshome div {
    width: 20%;
    align-items: center;
    }

.avermas {
    color: rgb(56, 41, 2);
    display: inline-block;
    padding: 5px 5px;
    margin: auto;
    text-decoration: none;
}

.aagregarcarrito {
    color: rgb(56, 41, 2);
    display: inline-block;
    padding: 5px 5px;
    margin: auto;
    text-decoration: none;
}

.avermas:hover {
    text-decoration: underline;
    font-weight: bold;
    color: rgb(56, 41, 2);
}

.aagregarcarrito:hover {
    text-decoration: underline;
    font-weight: bold;
    color: rgb(56, 41, 2);
}

div.fhome {
    font-size: 15px;
    text-align: start;
    align-self: flex-end;

}

.pfooter {
    color: rgba(101, 103, 105, 0.687);
    align-items: flex-end;
    align-self: flex-end;
}

.footerhome {
    width: 100%;
    height: 200px;
    flex: auto;
    text-align: left;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgb(30, 30, 30);
}

.social {
    color: rgba(101, 103, 105, 0.687);
    font-size: 40px;
}

@media (width<=400px) {

    h1,
    h2,
    h3 {
        text-align: center;
    }

    .headeritem {
        font-size: 13px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 17px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }


    .ropamujerhome {
        justify-content: center;
    }

    .ropahombrehome {
        justify-content: center;
    }

    .accesorioshome {
        justify-content: center;
    }

    .footerhome {
        height: 120px;
        width: 100%;
    }

    .logo img {
        height: 80px;
        width: 150px;
        align-self: center;
    }

    .headerhome {
        height: 140px;
        width: 100%;
    }

    .sectionheader {
        display: flex;
        justify-content: space-evenly;
        font-size: 20px;
        flex-wrap: wrap;

    }


}