.headerlogin {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    height: 150px;
    padding: 0%;
    flex: auto;
    text-align: center;
    background-color: black;

}

.sectionheader {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 20px;

}

.logo img {
    height: 100px;
    width: 200px;
    align-self: center;
}

a {
    color: rgb(106, 83, 6);
}
.bodylogin {
    background-image: url(../img/background.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.pfooter {
    color: rgba(101, 103, 105, 0.687);
    align-items: flex-end;
    align-self: flex-end;
}


.formulariologin {
    font-size: 20px;
    text-align: center;
    width: 150px;
   justify-content: center;
   margin-left: 42%;
   margin-top: 7%;
   margin-bottom: 10%;
   margin-right: 40%;
   padding-top: 30px;
   padding-bottom: 30px;
   color: black;
   
}
button {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.notengocuenta{
    font-size: 15px;
}
.olvidemicontra{
    font-size: 15px;
}

.footerlogin {
    width: 100%;
    height: 100px;
    flex: auto;
    text-align: left;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgb(30, 30, 30);
}