.headerrecover {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    height: 150px;
    padding: 0%;
    flex: auto;
    text-align: center;
    background-color: black;

}

.formulariorecover {
    font-size: 20px;
    text-align: center;
    width: 150px;
    justify-content: center;
    margin-left: 42%;
    margin-top: 7%;
    margin-bottom: 10%;
    margin-right: 40%;
    padding-top: 30px;
    padding-bottom: 30px;
    color: black;
}

button {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.recover {
    font-size: 16px;
}

.sectionheader {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 20px;

}

.logo img {
    height: 100px;
    width: 200px;
    align-self: center;
}

a {
    color: rgb(106, 83, 6);
}

.bodyrecover {
    background-image: url(../img/background.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.flechavolveralogin {
    display: inline-block;
    padding: 5px 5px;
    margin-top: 8px;
    font-size: 20px;
    align-self: flex-start;
    justify-content: space-around;
}

.pfooter {
    color: rgba(101, 103, 105, 0.687);
    align-items: flex-end;
    align-self: flex-end;
}

.footerrecover {
    width: 100%;
    height: 200px;
    flex: auto;
    text-align: left;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgb(30, 30, 30);
}

.social {
    color: rgba(101, 103, 105, 0.687);
    font-size: 40px;
}


@media (width <=400px) {

    h1,
    h2,
    h3 {
        text-align: center;
    }

    .headeritem {
        font-size: 13px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 17px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }




    .footerrecover {
        height: 120px;
        width: 100%;
    }

    .logo img {
        height: 80px;
        width: 150px;
        align-self: center;
    }

    .headerlogin {
        height: 140px;
        width: 100%;
    }

    .sectionheader {
        display: flex;
        justify-content: space-evenly;
        font-size: 20px;
        flex-wrap: wrap;

    }

    .formulariorecover {
        font-size: 15px;
        text-align: center;
        width: 170px;
        justify-content: center;
        color: black;
        margin-left: 25%;
        margin-top: 7%;
        margin-bottom: 10%;
        margin-right: 20%;
        padding-top: 30px;
        padding-bottom: 30px;

    }

    button {
        font-size: 13px;
        margin-top: 5px;
        margin-bottom: 5px;

    }

    .recover {
        font-size: 13px;
    }


}